body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
}

.content{
    float: left;
    width: 80%;
    height: 100%;
}

.nav{
    width: 20%;
    height: 100%;
    float: left;
}

.reports{
    display: inline-block;
}

.reports h1{
    margin: 3px 0;
}

.reports button{
    width: 100%;
    clear: both;
    margin: 3px 0;
}

.content h2{
    margin: 3px 0;
    text-align: center;
}

.reps{
    margin-top: 10px;
}

.reps h2{
    margin: 3px 0;
}

.rep-list{
    height: 200px;
    overflow-y: scroll;
}

.dates{
    margin-top: 10px;
}

.dates h2, .dates h3{
    margin: 3px 0;
}

.bottom-table{
    height: 300px;
    overflow-y: scroll;
}