<div class="dates">
  {% block dateselection %}
    <h2>Select The Date Boundaries</h2>
    <div class="dateSelect">
      <div class="standardDates">
        <h3>Standard Dates</h3>
        <div class="dateStart">
          <h4>Select A Date</h4>
          <select id="dateM"></select>
          <select id="dateY"></select>
        </div>
      </div>
      <div class="commissionDates">
        <h3>Commission Dates</h3>
        <div class="dateStart">
          <h4>Start Date</h4>
          <select id="dateSM"></select>
          <select id="dateSY"></select>
        </div>
        <div class="dateEnd">
          <h4>End Date</h4>
          <select id="dateEM"></select>
          <select id="dateEY"></select>
        </div>
      </div>
    </div>
    <script>var dateArray = JSON.parse('{{ dates|json_encode|raw }}');
      date_populate(dateArray)</script>
  {% endblock %}
</div>